<h1>Contact Us</h1>

<p>Feel free to contact us with questions, remarks, suggestions, feature request or a simple thank you. We'd be happy to receive your feedback!</p>
<br />
<form name="contactForm" class="form-horizontal" role="form" ng-controller="ContactCtrl">
    <div class="form-group has-feedback" ng-class="{'has-error': !contactForm.name.$valid, 'has-success': contactForm.name.$valid}">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="name" id="name" ng-model="contact.name" required placeholder="Name">
            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="contactForm.name.$error.required" data-toggle="tooltip" data-placement="left" title="This field is required."></span>
            <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="contactForm.name.$valid"></span>
        </div>
    </div>
    <div class="form-group has-feedback" ng-class="{'has-error': !contactForm.email.$valid, 'has-success': !contactForm.email.$valid}">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" name="email" id="email" ng-model="contact.email" required placeholder="Email">
            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="contactForm.email.$error.required" data-toggle="tooltip" data-placement="left" title="This field is required."></span>
            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="contactForm.email.$error.email" data-toggle="tooltip" data-placement="left" title="The given emailaddress doesn't have a valid format. Fe.: info@example.com"></span>
            <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="contactForm.email.$valid"></span>
        </div>
    </div>
    <div class="form-group has-feedback" ng-class="{'has-error': !contactForm.message.$valid, 'has-success': !contactForm.message.$valid}">
        <label for="message" class="col-sm-2 control-label">Message</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="message" name="message" ng-model="contact.message" required rows="3"></textarea>
            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="contactForm.message.$error.required" data-toggle="tooltip" data-placement="left" title="This field is required."></span>
            <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="contactForm.message.$valid"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" ng-disabled="!contactForm.$valid" ng-submit="sendMessage()">Send Message</button>
        </div>
    </div>
</form>